/*Autor: Gustavo Camargo; Guilherme Foster; Gustavo habitzreiter.
 *Data de criação:12/08/2016.
 *Data de modificação:30/11/2016.
 */



/******** INICIO CONFIGURAÇÃO GERAL ***********/
@font-face {
     font-family: Fira Sans;
     src: url('https://fonts.googleapis.com/css?family=Fira+Sans');
}

body{
  background-color: #9dc8c8;
  font-family: 'Fira Sans', sans-serif;
}

h1{
  font-size: 32px;
}

a{
  color: #791E94;
}
a:active{
  color: #E71D36;
}
/* Inicio Menu */

.menu{
  background-color: #E0E3DA;
  position: fixed;
  height: 100%;
  width: 17%;
}

.menu .logo{
  width: 100%;
  height: 20%;
  background: url(../imagens/logo.jpg) no-repeat center center;
  background-size: 100% 100%;
}

.funcionario-autenticado{
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 6%;
}
.inicio-sair{
  margin-top: 10%;
  margin-left: 12%;
  width: 90%;
}
.inicio-sair .inicio, .sair{
  display: inline-block;
  width: 30%;
  padding: 4%;
  text-align: center;
  font-size: 18px;
}

.inicio-sair a{
  text-decoration:none;
  color: #fff;
}
.inicio-sair .inicio{
  background-color: #5cab7d;
}
.inicio-sair .inicio:hover{
  background-color: #3e8e41;
}
.inicio-sair .sair{
  background-color: #e53a40;
}
.inicio-sair .sair:hover{
  background-color: #a6172d;
}

.navegacao{
  margin-top: 15%;
}

.navegacao .projeto{
  margin-top: 22%;
}
.navegacao .funcionario{
  margin-top: 22%;
}

.dropbtn{
    margin-left: 5%;
    border: none;
    width: 90%;
    font-size: 19px;
    background-color: #FFFFF3;
    border: 3px solid #E0E3DA;
}
.dropbtn label{
  background: url(../imagens/seta-baixo.svg) no-repeat center center;
  float: right;
  width: 20px;
  height: 20px;
}


.dropdown {
    position: relative;

}

.dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: #FFFFF3;
    margin-left: 5%;
    width: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-conteudo a {
    color: #000;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    display: block;
    padding: 2%;
}

.dropdown-conteudo a:hover {
  background-color: #D1B6E1
}

.dropdown:hover .dropdown-conteudo {
    display: block;
}

.dropdown:hover .dropbtn {
    border: 3px solid #000;
}

.desenvolvedor{
  margin-top: 60%;
  margin-left: 30%;
}

.desenvolvedor h2{
  font-size: 22px;
}
/* Fim menu */

/* Inicio Calendario */

.calendario{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}

.calendario .calendario-img{
  height: 60px;
  width: 60px;
  border-width: 0px;
  background: url(../imagens/calendario.svg)  no-repeat center center;
}

.calendario .calendario-img:hover{
  height: 60px;
  width: 60px;
  background: url(../imagens/calendario-visualizar.svg)  no-repeat center center;
  cursor: pointer;
  /*box-shadow: 3px 2px 2px #000;*/ /* camargo, remove aqui plox :D */
}
/* Fim Calendario */

/* Modal */
.modal{
  background-color: #e1eef6;
}
/* Fim Modal */


/* Conteudo */
.conteudo{
  width: 70%;
  background-color: #519d9e;
  float: left;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 20%;
  padding: 1%;
  min-height: 550px;
}
/* Fim conteudo */

#tr-link tbody tr:hover{
  cursor: pointer;
}

/******** FIM CONFIGURAÇÃO  GERAL *************/

/******** GUSTAVO CAMARGO *************/
.cpd{
  background-color: #e1eef6;
  font-size: 17px;
  line-height: 1.3;
}

.cpd-titulo{
  text-align: center;
  margin-bottom: 1%;
}

.cpd-esquerda{
  float: left;
  height: 512px;
  width: 69.5%;
}

.cpd-esquerda span, .cpd-direita span{
  font-size: 16px;
}

.cpd-esquerda-cliente{
  float: left;
  padding: 5px;
  width: 35%;
  border: 2px solid #000;
  height: 18%;
  overflow: auto;
}

.cpd-esquerda-cliente::-webkit-scrollbar-track{
  background-color: #fff;
}
.cpd-esquerda-cliente::-webkit-scrollbar{
    width: 9px;
}
.cpd-esquerda-cliente::-webkit-scrollbar-thumb {
    background: #9dc8c8;
}

.cpd-esquerda-cliente-email span{
  word-wrap: break-word;
}

.cpd-esquerda-cliente-botao button{
  background: url(../imagens/usuario.svg)  no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  float: right;
}
.cpd-esquerda-cliente-botao button:hover{
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.cpd-esquerda-arquivos{
  float: right;
  border: 2px solid #000;
  width: 61.5%;
  height: 19.1%;
  padding: 2px;
}

.cpd-esquerda-arquivos-tabela{
  float: left;
  width: 83%;
  height: 75%;
  overflow: auto;
}

.cpd-esquerda-arquivos-tabela thead{

}

.cpd-esquerda-arquivos-tabela::-webkit-scrollbar-track{
  background-color: #fff;
}
.cpd-esquerda-arquivos-tabela::-webkit-scrollbar{
    width: 9px;
}
.cpd-esquerda-arquivos-tabela::-webkit-scrollbar-thumb {
    background: #9dc8c8;
}

.cpd-esquerda-arquivos-tabela-nome{
  width: 35%;
}

.cpd-esquerda-arquivos-tabela tr,td,th{
  font-size: 16px;
  border: 1px solid #000;
  text-align: center;
  padding: 1px;
}

.cpd-esquerda-arquivos-tabela th{
  background: #a3a1a1;
}
.cpd-esquerda-arquivos-tabela tbody tr:nth-child(even){
  background: #edefe8;
}


.cpd-esquerda-arquivos-tabela-baixar-botao, .cpd-esquerda-arquivos-tabela-excluir-botao{
  width: 25px;
  height: 25px;
  border: none;
}

.cpd-esquerda-arquivos-tabela-baixar-botao:hover, .cpd-esquerda-arquivos-tabela-excluir-botao:hover{
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.cpd-esquerda-arquivos-tabela-baixar-botao{
  background: url(../imagens/baixar.svg) no-repeat center center;
}
.cpd-esquerda-arquivos-tabela-excluir-botao{
  background: url(../imagens/lixeira.svg) no-repeat center center;
}

.cpd-esquerda-arquivos-upload{
  float: left;
  margin-left: 1.5%;
}
.cpd-esquerda-arquivos-upload img{
  width: 60px;
  height: 60px;
}

.cpd-esquerda-arquivos-upload img:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cpd-esquerda-arquivos-upload input{
  display: none;
  }

.cpd-esquerda-projeto{
  margin-top: 16.5%;
  width: 97.4%;
  height: 75.5%;
  border: 2px solid #000;
  padding: 1%;
}

.cpd-esquerda-projeto-informacao-status{
  float: right;
  margin-right: 5%;
  width: 30%;
}

.cpd-esquerda-projeto-informacao-editar-botao button{
  float: right;
  width: 30px;
  height: 30px;
  background: url(../imagens/edicao.svg) no-repeat center center;
  border: none;
}
.cpd-esquerda-projeto-informacao-editar-botao button:hover{
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


.cpd-esquerda-projeto-informacao-cancelar-botao button{
  margin-bottom: ;
  float: right;
  margin-right: 0.5%;
  border: 2px solid #000;
  background: #E53A40;
  color: #fff;
  padding: 0.5%;
}
.cpd-esquerda-projeto-informacao-cancelar-botao button:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cpd-esquerda-projeto-descricao{
  margin-top: 1%;
}
.cpd-esquerda-projeto-descricao textarea{
  resize: none;
  background: #FFFFF3;
  border: 2px solid #000;
}

.cpd-esquerda-projeto-descricao textarea::-webkit-scrollbar-track{
  background-color: #fff;
}
.cpd-esquerda-projeto-descricao textarea::-webkit-scrollbar{
    width: 9px;
}
.cpd-esquerda-projeto-descricao textarea::-webkit-scrollbar-thumb {
    background: #9dc8c8;
}

.cpd-direita{
  margin-left: 1%;
  float: right;
  height: 508px;
  width: 29.5%;
}

.cpd-direita-agendamentos{
  height: 49%;
  width: 97.5%;
  border: 2px solid #000;
  padding: 1%;
}

.cpd-direita-ambientes{
  width: 97.5%;
  height: 48%;
  margin-top: 1%;
  border:  2px solid #000;
  padding: 1%;
}

.cpd-direita-agendamentos-corpo{
  height: 90%;
  width: 100%;
  overflow: auto;
}

.cpd-direita-agendamentos-corpo::-webkit-scrollbar-track{
  background-color: #fff;
}
.cpd-direita-agendamentos-corpo::-webkit-scrollbar{
    width: 9px;
}
.cpd-direita-agendamentos-corpo::-webkit-scrollbar-thumb {
    background: #9dc8c8;
}

.cpd-direita-agendamentos-corpo-agendamento{
  border: 2px solid #000;
  width: 80%;
  padding: 1%;
  margin-left: 8%;
  margin-bottom: 3%;
}


/* Pendente*/
.cpd-direita-agendamentos-corpo-agendamento[status="0"]{
    background: #2EC4B6;
}
/* confirmado*/
.cpd-direita-agendamentos-corpo-agendamento[status="1"]{
    background: #8cd790;
}
/* Imcompleto*/
.cpd-direita-agendamentos-corpo-agendamento[status="2"]{
    background: #f6b352;
}
/* Cancelado*/
.cpd-direita-agendamentos-corpo-agendamento[status="3"]{
    background: #f1404b;
}
/* Indisponivel*/
.cpd-direita-agendamentos-corpo-agendamento[status="4"]{
    background: #c9d6de;
}


.cpd-direita-agendamentos-corpo-agendamento-botao button{
  width: 25px;
  height: 25px;
  float: right;
  border: none;
}

.cpd-direita-agendamentos-corpo-agendamento-botao button[status-agendamento="0"]{
    background: url(../imagens/edicao.svg) no-repeat center center;
}

.cpd-direita-agendamentos-corpo-agendamento-botao button[status-agendamento="1"], .cpd-direita-agendamentos-corpo-agendamento-botao button[status-agendamento="2"],.cpd-direita-agendamentos-corpo-agendamento-botao button[status-agendamento="3"]{
  background: url(../imagens/visualizar.svg) no-repeat center center;
}
.cpd-direita-agendamentos-corpo-agendamento-botao button[status-agendamento="4"]{
  visibility: hidden;
}

.cpd-direita-agendamentos-corpo-agendamento-botao button:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.cpd-direita-ambientes-corpo{
  margin-top: 1%;
  overflow: auto;
  height: 90%;
  width: 100%;
}

.cpd-direita-ambientes-corpo::-webkit-scrollbar-track{
  background-color: #fff;
}
.cpd-direita-ambientes-corpo::-webkit-scrollbar{
    width: 9px;
}
.cpd-direita-ambientes-corpo::-webkit-scrollbar-thumb {
    background: #9dc8c8;
}




.cpd-direita-ambientes-criar button{
  width: 25px;
  height: 25px;
  float: right;
  border: none;
  background: url(../imagens/adicionar.svg) no-repeat center center;
}

.cpd-direita-ambientes-criar button:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.cpd-direita-ambientes-corpo-ambiente{
  background: #a8dba8;
  border: 2px solid #000;
  width: 80%;
  padding: 2%;
  margin-left: 8%;
  margin-bottom: 3%;
  text-align: center;
}

.cpd-direita-ambientes-corpo-ambiente-editar button{
  width: 25px;
  height: 25px;
  float: right;
  border: none;
  background: url(../imagens/edicao.svg) no-repeat center center;
}

.cpd-direita-ambientes-corpo-ambiente-editar button:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.cpd-direita-corpo-ambientes-adicionar{
  background: #79bd9a;
  border: 2px solid #000;
  width: 80%;
  padding: 2%;
  margin-left: 8%;
  margin-bottom: 3%;
}

.cpd-direita-corpo-ambientes-adicionar-botao button{
  width: 25px;
  height: 25px;
  float: right;
  border: none;
  background: url(../imagens/adicionar-ambiente.svg) ;
}

.cpd-direita-corpo-ambientes-adicionar-botao button:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}
/******** FIM GUSTAVO CAMARGO *************/

/******** GUSTAVO HABITZREITER *************/


/* Áreas comuns */
.titulo-formularios{
  font-size: 25px;
  text-align: center;
}

.formulario-registro{
  margin: 0% auto;
  background-color: #e1eef6;
  border: 2px solid #000;
  width: 80%;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 1%;
}

.inputs-registro{
  width: 65%;
  margin-top: 1%;
  text-align: center;
}

.tabela-consultas-2 table{
   width: 70%;
   }

 .tabela-consultas-2 th, td{
   text-align: center;
   border: 1px solid #000;
   padding-top: 1%;
   color: #000000;
 }

 .tabela-consultas-2 tbody tr{
   background-color: #fffff3;
 }

 .tabela-consultas-2 tbody tr:nth-child(even){
   background-color: #edefe8;
 }

.tabela-consultas-2 tbody tr:hover{
   background: #547a83;
 }


 .tabela-consultas-2 th, td a{
   text-decoration: none;
   color: #000000;
 }

section table{
  margin: 0% auto;
  top: 15%;
  left: 40%;
  width: 55%;
}

h1.titulo-pagina{
  text-align: center;
  font-size: 26px;
  margin-bottom: 1%;
  margin-top: 2%;
}

 .tabela-consultas-2 th{
  background-color: #c6c6c6;
}

.subtitulo{
  text-align: center;
  margin-bottom: 1%;
  margin-right: 5%;
  margin-top: 1%;
}

.input-filtro{
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  border: 1px solid;
}

.btn-filtro{
  padding-left: 10%;
  padding-right: 10%;
  border: 1px solid;
  box-shadow: 2px 2px 1px #000;
  background-color: #5cab7d;
  cursor: pointer;
}

.btn-filtro:hover{
  background-color: #4a8b65;
}

.btn-filtro-img{
  background: url(../imagens/pesquisar.png) no-repeat center center;
}

.alinhar-input-formulario{
  width: 100%;
  display: inline;
  margin-bottom: 20%;
}

.filtro{
  margin-bottom: 5%;
  width: 100%;
}

.alinhar-filtro{
  display: inline-flex;
  width: 57%;
  margin-left: 15%;
}

.imagem-dentro-btn-filtro{
  position: absolute;
  width: 1.5%;
  height: 3%;
  left: 70%;
}

.link-detalhada{
  text-decoration: none;
  color: #000;
}

.conteudo-detalhada{
  background-color: #e1eef6;
  width: 40%;
  margin: 0% auto;
  border: 2px solid;
  font-size: 16px;
  padding: 1%;
}

.btn-editar-consultas{
  margin-top: 2%;
  margin-left: 75%;
  width: 9%;
  box-shadow: 2px 2px 1px #000;
  background-color: #ffffff;
  border: 2px solid #000;
}

.btn-editar-consultas:hover{
  background-color: #a6a6a6;
  color: #ffffff;
  cursor: pointer;
}

.tabela-historico-projetos{
  margin: 0% auto;
  margin-top: 8%;
}

.tabela-historico-projetos table{
  border: 1px solid;
  width: 80%;
  margin: 0% auto;
}

.tabela-historico-projetos table thead tr{
  background-color: #c6c6c6;
  text-align: left;
  border: 1px solid;
}

.tabela-historico-projetos table tbody tr{
  background-color: #ffffff;
  border-right: 1px solid;
  text-align: center;
}

.tabela-historico-projetos table tbody tr:nth-child(even){
  background: #edefe8;
}


.tabela-historico-projetos table tbody tr:hover{
  background-color: #547a83;
}



.titulo-pagina-2{
  text-align: center;
  font-size: 26px;
  margin-top: 1%;
  margin-bottom: -5%;
}

.titulo-modal h1{
  text-align: center;
  margin-top: 2%;
}

.modal-div-e{
  margin-top: -3%;
  margin-bottom: 5%;
  width: 40%;
  float: left;
}
.modal-div-e div input{
  width: 51%;
  margin: 1%;
}
.modal-div-e div label{
  width: 40%;
  display: inline-block;
}
.modal-div-d{
  margin-top: -3%;
  margin-bottom: 5%;
  width: 60%;
  float: right;
}
.modal-div-d div input{
  width: 40%;
  margin: 1%;
}
.modal-div-d div label{
  width: 40%;
  display: inline-block;
}

.modal-btn{
  padding-top: 3%;
  margin-left: 32%;
  clear: both;
}
.modal-btn-salvar{
  background-color: #00af46;
  color: #fff;
  border: 2px solid #000;
  box-shadow: 2px 2px 1px #000;
  width: 26%;
  padding: 1.3%;
  margin-left: 2%;
}
.modal-btn-salvar-2{
  float: right;
  margin-right: 25%!important
}

.modal-btn-salvar:hover{
  background-color: #008b38;
}
.modal-btn-fechar{
  background-color: #ff0000;
  color: #fff;
  border: 2px solid #000;
  box-shadow: 2px 2px 1px #000;
  width: 26%;
  padding: 1%;
  margin-right: 2%;
}
.modal-btn-fechar:hover{
  background-color: #b60000;
}

.btns-modal-cliente{
  margin-top: 5%;
  margin-left: 25%;
}

.area-filtro-projetos{
  width: 86%;
  margin-left: 5%;
}

.div-e-filtro{
  float: left;
  margin-left: 10%;
}

.div-e-filtro div label{
  display: inline-block;
  margin-bottom: 1%;
  width: 44%;
}

.div-e-filtro div input{
  width: 50%;
  margin-bottom: 1%;
}

.div-e-filtro div select{
  width: 51%;
}

.div-d-filtro{
  float: right;
  margin-bottom: 1%;
  margin-right: 1%;
}

.div-d-filtro div label{
  display: inline-block;
  margin-bottom: 1%;
  width: 40%;
}

.div-d-filtro div select{
  width: 50%;
}

.filtro-projetos{
  clear: both;
  margin-left: 15%;
}

.filtro-projetos input{
  width: 66%;
}

.filtro-projetos button{
  float: right;
}

.btn-filtro-projeto{
  margin-right: 7%;
  width: 18%;
  background-color: #5cab7d;
  border: 2px solid;
  cursor: pointer;
}

.btn-filtro-projeto:hover{
  background-color: #4a8b65;
}

.espaco-recolhimento{
  margin-top: 3%;
}

.espaco-recolhimento div, label{
  margin-bottom: 2%;
  font-size: 18px;
}

.espaco-recolhimento button{
  margin-top: 5%;
}

.btn-ocorreu{
  width: 20%;
  margin-left: 3%;
  border: 1px solid;
  box-shadow: 2px 2px 1px #000;
  background-color: #5cab7d;
  cursor: pointer;
}

.btn-ocorreu:hover{
  background-color: #4a8b65;
}

.btn-canc{
  width: 18%;
  margin-left: 30%;
  background-color: #ff0000;
  color: #fff;
  border: 2px solid #000;
  box-shadow: 2px 2px 1px #000;
  cursor: pointer;
}

.btn-canc:hover{
background-color: #b60000;
}

.espaco-recolhimento-formulario{
  margin-bottom: 3%;
  margin-top: 3%;
}

.espaco-recolhimento-formulario label{
  width: 35%;
  display: inline-block;
}

.espaco-recolhimento-formulario input{
  width: 40%;
  margin: 1%;
}

/* Fim áreas comuns */

/* Botões de resetar e registrar*/

.btn-resetar{
  margin-top: 1%;
  background-color: #fff;
  border: 1px solid;
  width: 30%;
  box-shadow: 2px 2px 1px #000;
  padding: 1%;

}

.btn-resetar:hover{
  background-color: #dfdfdf;
}

.btn-registrar{
  width: 45%;
  border: 1px solid;
  box-shadow: 2px 2px 1px #000;
  margin-left: 21%;
  background-color: #5cab7d;
  padding: 1%;
}

.btn-registrar:hover{
  background-color: #4a8b65;
}

.alinhar-btns-formulario{
  display: inline;
}

.modal-edicao-cliente{
  width: 100%;
}

/*

  CSS referente as validações

*/
.msg-sucesso, .msg-erro{
    text-align: center;
    width: 70%;
    margin-left: 20%;
    border: 2px solid;
    padding: 1%;
}
.msg-sucesso{
    background-color: #11ff28 ;
  }
  .msg-erro{
    background-color: #ff1111 ;
  }
  .fechar-aviso{
    width: 25px;
    height: 25px;
    background: url(../imagens/fechar.png) no-repeat center center;
    background-size: 100% 100%;
    border: 0px;
    cursor: pointer;
    float: right;
 }

.sucesso h1{
  font-size: 25px;
  margin-bottom: 1%;
}

.erro h1{
  font-size: 25px;
  margin-bottom: 1%;
}

/*

  CSS referente à página de login

*/

  .define-fontes-login{
    font-family: 'Fira Sans', sans-serif;
}

html.pag-login{
  background-color: #9dc8c8;
}

.formulario{
  margin: 0% auto;
  background-color: #e1eef6;
  border: 2px solid #000;
  width: 21%;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 3.5%;
}

.logo-empresa-login{
  width: 40%;
  margin-right: 32%;
  margin-left: 32%;
}

form.login{
  margin-top: 12%;
  font-size: 20px;

}

button.entrar{
  background-color: #5cab7d;
  color: #fff;
  border-color: #000;
  width: 100%;
  box-shadow: 3px 3px 1px #000;
  margin-top: 8%;
}

button.entrar:hover{
  background-color: #84b599;
}
input.formulario-login{
  text-align: center;
  font-size: 14px;
  width: 66%;

}
footer.login-rodape{
  margin-top: 10.5%;

}
h3.texto-login-rodape{
  font-size: 18px;
  text-align: center;
}

.divisao-de-validacao{
  width: 100%;
  background-color: #fc4e36;
}

label.alinhar-inputs{
  display: inline-block;
  width: 30%;
}

.imagem-dentro-btn{
  vertical-align: middle;
}

/*

  fim do CSS da parte de login

*/

/*****

CSS referente a página de validação do login

******/

html.pag-validacao-login{
  background-color: #9dc8c8;
}
div.validacao-login{
  width: 50%;
  background-color: #e1eef6;
  margin: 0% auto;
  margin-top: 20%;
  border: 2px solid #ff0000;
  text-align: center;
}
.retornar-validacao-login{
   color: #8606df;
   text-decoration: none;
}

  .retornar-validacao-login:hover{
    color: #2856d4;
    text-decoration: underline;
  }

/*****

CSS referente a página de validação do login

******/

.texto-bem-vindo{
  text-align: center;
  font-size: 25px;
  border: 2px solid;
  width: 50%;
  margin: 0px auto;
  background-color: #e1eef6;
}
/******** FIM GUSTAVO HABITZREITER *************/

/******** GUILHERME FOSTER *************/

/*Depois manda pro css da modal ou sla*/

.modal-ambientes-select{
  margin: 2%;
  margin-left: 35%;
  border: 1px solid #000;
  box-shadow: 2px 2px 1px #000;
}

.modal-btn-excluir{
  background-color: #ff0000;
  color: #fff;
  border: 2px solid #000;
  box-shadow: 2px 2px 1px #000;
  width: 15%;
  padding: 1%;
}

.h1custom{
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
  }
  .h2custom{
    margin: 1%;
    text-align: center;
    font-size: 20px;
  }
  .fundo-funcionario {
    background-color:#e1eef6;
    border:2px solid #000;
    padding: 1%;
    width: 42%;
    margin-left: 28%;
  }
  .fundo-funcionario form div label{
    margin: 1%;
    margin-right: 5%;
    text-align: left;
    display: inline-block;
    width: 30%;
  }
  .fundo-funcionario form div input{
    width: 55%;
    margin: 1%;
  }
  .div-tabela{
    margin-left: 10%;
    width: 80%;
  }
  .tabela-consultas{
    width: 100%;
    background: #fff;
    }
  .tabela-consultas thead,tbody tr th,td{
    text-align: center;
    border: 1px solid #000;
  }
  .tabela-consultas thead,tbody tr th,td a{
    color: #000;
    text-decoration: none;
  }
  .tabela-consultas tbody tr:nth-child(odd){
    background-color: rgb(92, 92, 92);
    color: #fff;
  }
  .tabela-consultas tbody tr:nth-child(odd) td a{
    color: #fff;
  }
  .tabela-consultas tbody tr:hover{
    background: rgb(50, 99, 110)
  }
  .div-legenda-filtro{
    text-align: center;
    width: 100%;
    padding-bottom: 1%;
  }
  .padding{
      padding: 1%;
  }
  .sucesso{
    text-align: center;
    width: 94%;
    background-color: #11ff28 ;
    margin-bottom: 2%;
    margin-left: 2%;
    border: 2px solid;
    padding: 1%;
  }
  .erro{
    text-align: center;
    width: 94%;
    background-color: #ff1111 ;
    margin-bottom: 2%;
    margin-left: 2%;
    border: 2px solid;
    padding: 1%;
  }
  .fechar-aviso{
    width: 25px;
    height: 25px;
    background: url(../imagens/fechar.png) no-repeat center center;
    background-size: 100% 100%;
    border: 0px;
    cursor: pointer;
    float: right;
 }
  .fundo-div{
    background-color: #e1eef6;
    width: 35%;
    border: 1px solid #000;
    margin-left: 30%;
  }
  legend{
    background-color: #e1eef6;
    padding: 3px;
    font-size: 14px;
  }
  .btn-registro{
    color: #fff;
    background-color: #028a4d;
    box-shadow: 2px 2px 1px #000;
    border: 2px solid #000;
    width: 50%;
    margin-left: 23%;
  }
  .btn-registro:hover{
    background-color: #007541;
  }
  .btn-limpar{
    background-color: #fff;
    box-shadow: 2px 2px 1px #000;
    border: 2px solid #000;
    width: 20%;
  }
  .btn-limpar:hover{
    background-color: #d6d6d6;
  }
  .btn-pesquisa{
    color: #fff;
    background-color: #028a4d;
    box-shadow: 2px 2px 1px #000;
    border: 2px solid #000;
    width: 12.5%;
    text-align: right;
    margin-left: -1%;
  }
  .btn-pesquisa:hover{
    background-color: #007541;
  }
  .btn-edit{
    float: right;
    clear: both;
    background-color: #fff;
    width: 20%;
    text-align: right;
    box-shadow: 2px 2px 1px #000;
    border: 2px solid #000;
    margin-right: 1%;
  }
  .centralizado{
    margin-left: 20%;
  }
  .centralizado form input{
    margin: 0px;
    width: 62%;
    margin-bottom: 5%;
  }
  .tabela-funcionario{
    margin-left: 20%;
    width: 60%;
  }
  .registro-projeto{
    padding: 3%;
    margin: 2%;
    border: 1px solid #000;
    background-color: #e1eef6;
  }
  .select-projeto{
    width: 49%;
    margin-bottom: 1%;
    border: 1px solid #000;
  }
  .registro-projeto div label{
    display: inline-block;
    width: 19%;
    margin: 0.5%;
  }
  .registro-projeto div input{
    width: 77.5%;
    text-align: center;
  }
  .registro-projeto div textarea{
    margin-top: 1%;
  }
  .btn-projeto{
    margin-top: 1%;
    width: 100%;
  }
  .btn-projeto button[type="reset"]{
    margin: 0px;
    width: 45%;
  }
  .btn-projeto button[type="submit"]{
    margin: 0px;
    width: 45%;
    float: right;
    margin-right: 1.5%;
    clear: both;
  }
  .fundo-ambiente{
    padding: 3%;
    margin: 2%;
    border: 1px solid #000;
    background-color: #e1eef6;
  }
  .fundo-ambiente h2{
    margin-bottom: 2%;
  }
  .ambiente-registro{
    margin-left: 35%;
    margin-bottom: 2%;
  }
  .btn-ambiente{
    margin-top: 2%;
  }
  .btn-ambiente button[type="reset"]{
    width: 15%;
    padding: 0.3%;
    background-color: #e53a40;
    color: #fff;
    border: 2px solid #000;
    box-shadow: 2px 2px 1px #000;
  }
  .btn-ambiente button[type="reset"]:hover{
    background-color: #a6172d;
  }
  .btn-ambiente button[type="submit"]{
    width: 15%;
    padding: 0.5%;
    margin-left: 3%;
    background-color: #028a4d;
    border: 2px solid #000;
    box-shadow: 2px 2px 1px #000;
  }
  .btn-ambiente button[type="submit"]:hover{
    background-color: #007541;
  }
  .text-align{
    text-align: left;
  }

/******** FIM GUILHERME FOSTER *************/
